<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<bean id="person" class="com.spring.bean.inhrtnce.bean.Person" scope="prototype">
		<property name="id" value="1252"></property>
		<property name="name" value="Johnny"></property>
		<property name="gender" value="Male"></property>
	</bean>
	
	<bean id="employee" class="com.spring.bean.inhrtnce.bean.Employee" parent="person">
		<property name="ssn" value="838437284"></property>
		<property name="name" value="Johnny B"></property>
	</bean>
</beans>